
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 10px;
    list-style: none;
}

.greet{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 20px;
    
}

.logo{
    color: red;
    margin-left: 20px;
    margin-top: 20px;
}

.name{
    margin-left: 20px;
}

.details{
    margin-left: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.image{
    height: 200px;
    border-radius: 10px; ;
}
.btn{
    display: flex;
    gap: 10px;
    color: red;
    margin-left: 50px;
    margin-top: 1px;
}
